<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>

    <link rel="shortcut icon" href="assets/images/logo/favicon.png">
    <link rel="apple-touch-icon" href="assets/images/logo/apple-touch-icon.png">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/vendors/menu/src/main.menu.css">

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/utilities.css">
    <link rel="stylesheet" type="text/css" href="assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="assets/css/colors-gh.css">
    <link rel="stylesheet" type="text/css" href="assets/css/colors-g.css">

    <!-- CAROUSEL -->
    <link rel="stylesheet" href="assets/vendors/owl.carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl.carousel/owl.theme.default.min.css">

    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="assets/vendors/animate/animate.css">

    <!-- ANIMATED HEADLINES -->
    <link rel="stylesheet" type="text/css" href="assets/vendors/animated-headline/css/style.css">

    <!-- FANCY BOX -->
    <link rel="stylesheet" type="text/css" href="assets/vendors/fancybox/jquery.fancybox.min.css">

</head>
<body>

    <section class="bg-v5-light pt-s2 pb-s2" style="margin-top: 45px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="mt-s2 mb-s2 box-shadow-parent--hover">
                        <div class="d-flex">
                            <div class="mr-s2">
                                <div class="text-size-s2 rounded-circle bg-cherry text-white text-center h--70 w--70 d-flex justify-content-center align-items-center box-shadow-v2-s3 box-shadow-v3-s3-child--hover">
                                    <i class="icon-phone"></i>
                                </div>
                            </div>
                            <div>
                                <h2 class="text-size-18 text-bold-600">Call Us</h2>
                                <p class="m-0">(+972) 527434835</p>
                                <p class="m-0">(+972) 506710370 </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="mt-s2 mb-s2 box-shadow-parent--hover">
                        <div class="d-flex">
                            <div class="mr-s2">
                                <div class="text-size-s2 rounded-circle bg-cherry text-white text-center h--70 w--70 d-flex justify-content-center align-items-center box-shadow-v2-s3 box-shadow-v3-s3-child--hover">
                                    <i class="icon-envelope-open"></i>
                                </div>
                            </div>
                            <div>
                                <h2 class="text-size-18 text-bold-600">Email Us</h2>
                                <p class="m-0">FM.SmartParking@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="mt-s2 mb-s2 box-shadow-parent--hover">
                        <div class="d-flex">
                            <div class="mr-s2">
                                <div class="text-size-s2 rounded-circle bg-cherry text-white text-center h--70 w--70 d-flex justify-content-center align-items-center box-shadow-v2-s3 box-shadow-v3-s3-child--hover">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                            <div>
                                <h2 class="text-size-18 text-bold-600">Working Hours</h2>
                                <p class="m-0">Mon-Sat 09:00 - 19:00</p>
                                <p class="m-0">Sun 10:00 - 13:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /ROW -->
        </div> <!-- /CONTAINER -->
    </section> <!-- /SECTION -->


    <section class="bg-white pt-s5 pb-s5">
        <div class="container">
            <div class="mb-s4">
                <h6 class="text-bold-700 text-cherry" style="text-align: center;">Get In Touch</h6>
                <h2 class="text-bold-700 text-dark text-capitalize" style="text-align: center;">What can we help you with?</h2>
                <hr>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control bg-light text-size-12 pt-16 pb-16 pl-20 pr-20 text-bold-600 rounded-0 bc-v1-dark" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control bg-light text-size-12 pt-16 pb-16 pl-20 pr-20 text-bold-600 rounded-0 bc-v1-dark" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control bg-light text-size-12 pt-16 pb-16 pl-20 pr-20 text-bold-600 rounded-0 bc-v1-dark" placeholder="Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control bg-light text-size-12 pt-16 pb-16 pl-20 pr-20 text-bold-600 rounded-0 bc-v1-dark" rows="5" placeholder="Your Message"></textarea>
                        </div>
                        <button type="submit" class="btn bg-cherry text-white text-shadow-s1 text-uppercase text-bold-600 text-size-s1 rounded-s5 pt-12 pb-12 pl-s3 pr-s3 mt-s1 mb-s1 btn-block">Send Message</button>
                    </form>
                </div>
            </div> <!-- /ROW -->
        </div> <!-- /CONTAINER -->
    </section> <!-- /SECTION -->
    <br>
    <br>
    <br>
</body>
</html>
