<!--
    #################################
        - Begin: FOOTER -
    #################################
    -->
    <footer class="footer">
        <div  style="background-color:#0F575C;">
            <div class="container">
                
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="bs-solid bc-v2-light bw-s1 bt-0 bl-0 br-0 pb-40 mb-50">
                            
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <!-- Begin: LOGO -->
                                   <div class="logo" data-mobile-logo="/assets/images/logo/logo_transparent.png" data-sticky-logo="/assets/images/logo/logo_transparent.png">
				               	<a ><img src="/assets/images/logo/logo_transparent.png" alt="logo" style="width:100px;height:100px;"/></a>
			                 	</div> <!-- /LOGO -->
                                </div>
                                
                                <div class="col-md-6">
                                    <!-- Begin: SOCIAL -->
                                    <div class="text-right">
										<ul class="social list-inline text-size-s1 mb-s2">
											<li class="list-inline-item mr-s2">
												<a class="bg-cherry text-white bg-white--hover text-cherry--hover rounded-circle">
													<i class="fab fa-facebook-f"></i>
												</a>
											</li>
											<li class="list-inline-item mr-s2">
												<a class="bg-cherry text-white bg-white--hover text-cherry--hover rounded-circle" >
													<i class="fab fa-twitter"></i>
												</a>
											</li>
											<li class="list-inline-item mr-s2">
												<a class="bg-cherry text-white bg-white--hover text-cherry--hover rounded-circle">
													<i class="fab fa-linkedin-in"></i>
												</a>
											</li>
											<li class="list-inline-item mr-s2">
												<a class="bg-cherry text-white bg-white--hover text-cherry--hover rounded-circle">
													<i class="fab fa-instagram"></i>
												</a>
											</li>
											<li class="list-inline-item mr-s2">
												<a class="bg-cherry text-white bg-white--hover text-cherry--hover rounded-circle" >
													<i class="fab fa-pinterest-p"></i>
												</a>
											</li>
										</ul>
									</div>
                                    <!-- End: SOCIAL -->
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                
                <div class="row">
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-30">
                            <h5 class="text-bold-700 mb-30 text-white text-uppercase">Contact Us</h5>
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="row mb-20 map-bg">
                                        <div class="col-md-12 text-white">
				                            <address> <abbr title="Address"><strong>Address : </strong></abbr> Israel Nazareth </address>
				                            <address> <abbr title="Phone"><strong>Phone : </strong></abbr>  (+972) 527434835 / (+972) 506710370  </address>
				                            <address> <abbr title="Email"><strong>Email : </strong></abbr>  <a style="color:black;" href="mailto:#"> <b>FM.SmartParking@gmail.com</b></a> </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-30">
                            
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
            
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-12">
                        <div class="mb-30">
                            
                            <div class="row">

                                <div class="col-lg-12 col-md-6">
                                    

                                    <div class="row mb-20">
                                        <div class="col-md-12">

                                            <img class="full-width max-width-140 m-right-10" alt="Parking" src="/assets/images/paypal-logo.png">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
             	<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mt-s2 mb-s2 text-white">
						<p class="m-0 text-white">&copy; Copyright 2020 by <abbr title="Parking"><a href="#" class="text-white">PARKTECH</a></abbr>. All Rights Reserved.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="mt-s2 mb-s2 text-white text-right">
						<a class="text-white" href="#">Privacy Policy</a> | <a class="text-white" href="#">Terms & Conditions</a>
					</div>
				</div>
			</div> <!-- /ROW -->
		</div> <!-- /CONTAINER -->
        </div>

       

    </footer>

