<section>
<br/>
<br/>
<br/>
<br/>
<br/>
		<div class="container">
			<div class="mb-80 text-center">
				<h2 class="text-bold-700 text-cherry">PARKTECH in 3 Simple Steps</h2>
				<div class="mb-s3">
					<hr class="mb-0 bc-v1-dark">
					<hr class="w--60 bs-solid bc-cherry bw-s5 bt-0 bl-0 br-0 mt-0">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="mt-s2 mb-s2 mb-60--md mb-60--sm mb-60--xs box-shadow-parent--hover mt--parent--hover">
						<div class="bg-white text-center pt-s4 bs-solid bc-light bw-s1 position-relative">
							<div class="hero-section-container-tl w-100 mt--s4 mt--s5-child">
								<img class="w--100 rounded-circle bs-solid bc-white bw-s5 box-shadow-v2-s3-child--hover" src="https://cdn.onlinewebfonts.com/svg/img_17566.png" alt="Payment Detail">
							</div>
							<div class="p-s2 mt-s2 mb-s2">
								<span class="text-cherry text-bold-600">Step 1: Find your car park!</span>
								<h5 class="mt-s1 mb-0 text-bold-600">Write an address, hotel, restaurant, airport...</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="mt-s2 mb-s2 mb-60--md mb-60--sm mb-60--xs box-shadow-parent--hover mt--parent--hover">
						<div class="bg-white text-center pt-s4 bs-solid bc-light bw-s1 position-relative">
							<div class="hero-section-container-tl w-100 mt--s4 mt--s5-child">
								<img class="w--100 rounded-circle bs-solid bc-white bw-s5 box-shadow-v2-s3-child--hover" src="https://cdn3.iconfinder.com/data/icons/hotel-26/512/b143_4-512.png" alt="Your & Vehicle Detail">
							</div>
							<div class="p-s2 mt-s2 mb-s2">
								<span class="text-cherry text-bold-600">Step 2: Compare, book!</span>
								<h5 class="mt-s1 mb-0 text-bold-600">See prices, distance, customer reviews...</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="mt-s2 mb-s2 mb-60--md mb-60--sm mb-60--xs box-shadow-parent--hover mt--parent--hover">
						<div class="bg-white text-center pt-s4 bs-solid bc-light bw-s1 position-relative">
							<div class="hero-section-container-tl w-100 mt--s4 mt--s5-child">
                            	<img class="w--100 rounded-circle bs-solid bc-white bw-s5 box-shadow-v2-s3-child--hover" src="https://cdn3.iconfinder.com/data/icons/cars-and-transportation-circle-glyph/100/11-512.png" alt="Departure & Arrival Details">
							</div>
							<div class="p-s2 mt-s2 mb-s2">
								<span class="text-cherry text-bold-600">Step 3: park!</span>
								<h5 class="mt-s1 mb-0 text-bold-600">Guaranteed place upon arrival</h5><h6> just show your booking in the car park.</h6>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /ROW -->
		</div> <!-- /CONTAINER -->
	</section> <!-- /SECTION -->