<header>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Parking</title>

	<link rel="shortcut icon" href="/assets/images/logo/favicon.png">
	<link rel="apple-touch-icon" href="/assets/images/logo/apple-touch-icon.png">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

	<link rel="stylesheet" href="/assets/vendors/menu/src/main.menu.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/utilities.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/colors.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/colors-gh.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/colors-g.css">

	<!-- CAROUSEL -->
	<link rel="stylesheet" href="/assets/vendors/owl.carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/vendors/owl.carousel/owl.theme.default.min.css">

	<!-- ANIMATE -->
	<link rel="stylesheet" type="text/css" href="/assets/vendors/animate/animate.css">

	<!-- ANIMATED HEADLINES -->
	<link rel="stylesheet" type="text/css" href="/assets/vendors/animated-headline/css/style.css">

	<!-- FANCY BOX -->
	<link rel="stylesheet" type="text/css" href="/assets/vendors/fancybox/jquery.fancybox.min.css">

</head>
	<div class="main-header header-shadow ">
	    <div style="background-color:#0F575C">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-6 col-md-12">
	                    <div class="text-white mt-10 text-center--md text-center--sm text-center--xs">
	                        Helpline: FM.SmartParking@gmail.com  
	                    </div>
	                </div>
	                <div class="col-lg-6 col-md-12">
	                    <div class="text-right text-center--md text-center--sm text-center--xs">
	                        <span class="text-white mt-8 pl-20 pr-20 d-inline-block">
	                            Welcome <span class="text-bold-600">User!</span>
	                        </span>
	                        <a class="btn btn-white  text-size-11 text-bold-600 mt-5 mb-5 mt-10--md mb-10--md mt-10--sm mb-10--sm mt-10--xs mb-10--xs text-uppercase" href="#">
							<i class="zmdi zmdi-power text-size-15 mr-6 float-left mt-1" (click)="logout();" ></i> Logout</a>

	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
		<div class="container">

			<div class="main-header-container">

				<div class="logo" data-mobile-logo="/assets/images/logo/IMG-20200514-WA0040.jpg" data-sticky-logo="/assets/images/logo/IMG-20200514-WA0040.jpg">
					<a href="index.html"><img src="/assets/images/logo/IMG-20200514-WA0040.jpg" alt="logo" style="width:170px;height:700px;"/></a>
				</div> <!-- /LOGO -->
				<div class="logo" data-mobile-logo="/assets/images/logo/IMG-20200514-WA0040.jpg" data-sticky-logo="/assets/images/logo/IMG-20200514-WA0040.jpg">
					<a style="color:#0F575C" ><b><br/>Smart Technology Park </b></a>
				</div> 
				<div class="burger-menu">
					<div class="line-menu line-half first-line"></div>
					<div class="line-menu"></div>
					<div class="line-menu line-half last-line"></div>
				</div> <!-- /BURGER MENU -->

				<nav class="main-menu menu-caret menu-hover-2 submenu-top-border submenu-scale">
					<ul>
						<li class="current-menu"> <a class="nav-link active" routerLink="/home" style="color:#0F575C">HOME</a></li>
						<li><a href="parkings.html" routerLink="/mapsearch" style="color:#0F575C">Parkings</a>
						
						<li><a class="nav-link active" routerLink="/howitworks" style="color:#0F575C">How it Works</a></li>

						<li><a class="nav-link active" routerLink="/aboutus" style="color:#0F575C">About Us</a>
						
						</li>
						<li><a class="nav-link active" routerLink="/settings" style="color:#0F575C">SETTING</a></li>
						<li><a href="contact-us.html" routerLink="/contactus" style="color:#0F575C">Contact Us</a></li>
					</ul>
				</nav> <!-- NAVIGATION MENU -->

			</div> <!-- /HEADER CONTAINER -->

		</div> <!-- /CONTAINER -->
	</div> <!-- /HEADER -->

</header>